<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ECommerce Automation Suite">

    <!-- Activate our new watchdog! -->
    <listeners>
        <listener class-name="com.ecommerce.utils.TestListener"/>
    </listeners>

    <test name="Google Tests">
        <classes>
            <class name="com.ecommerce.tests.SearchTest"/>
            <!-- Add your brand new API test here! -->
            <class name="com.ecommerce.tests.ApiDemoTest"/>
        </classes>
    </test>

</suite>